<div class="jumbotron">
	<center>
		<h1>Welcome to Perfect Pizza</h1>
		  <%= image_tag "https://images-mm.s3.amazonaws.com/TMNT_Pizza_Time_Clock1_LG.jpg", height: '500' %>
		  <br>
		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>

